<!-- <h1>{{title}}</h1>
<input type="text" name="name" #box placeholder="enter name ">

<button (click)="getValue(box.value)">click</button>

<p>{{display}}</p> -->

<!-- <app-counter></app-counter> -->
<!-- <app-property-binding></app-property-binding> -->

<!-- <app-conditions></app-conditions> -->

<!-- <app-looping></app-looping> -->

<!-- <app-nested-loop></app-nested-loop> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
 -->

  
<!-- <app-header></app-header> -->

<!-- <app-forms></app-forms> -->

<!-- <app-to-do-list></app-to-do-list> -->

<!-- <app-child [item]="data"></app-child>
<button (click)="changeValue()">change value</button> -->


<!-- one component to another component dat show 
<ul *ngFor="let user of userDetails">
    <app-user-details [item]='user'></app-user-details>
</ul> -->


<!-- parent to child -->
<!-- <app-child-p (updateDataEvent)="updateData($event)"></app-child-p>
<br><br>
<h2>{{s}}</h2> -->
<!-- 
<input type="text" name="" id="" [(ngModel)]="name">

<h3>{{name}}</h3> -->

<!-- ussing pipes  -->
<!-- 
<app-pipes></app-pipes> -->

<!-- adding forms  -->
