<!-- <h1>{{title}}</h1>
<input type="text" name="name" #box placeholder="enter name ">

<button (click)="getValue(box.value)">click</button>

<p>{{display}}</p> -->

<!-- <app-counter></app-counter> -->
<!-- <app-property-binding></app-property-binding> -->

<!-- <app-conditions></app-conditions> -->

<!-- <app-looping></app-looping> -->

<!-- <app-nested-loop></app-nested-loop> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
 -->

  
<!-- <app-header></app-header> -->

<!-- <app-forms></app-forms> -->

<!-- <app-to-do-list></app-to-do-list> -->

<!-- <app-child [item]="data"></app-child>
<button (click)="changeValue()">change value</button> -->

<app-user-details></app-user-details>