<br>
<form #basicForm = "ngForm" (ngSubmit)="getdata(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="enter name">
    <br><br>
    <input type="email" ngModel name="email" placeholder="enter email">  
    <br><br> 
    <input type="password" name="password" ngModel placeholder="enter password">  <br><br>
    <button>registered</button>
</form>

<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul>


<button (click)="toggle()">Toggle</button>
<h1 *ngIf="display">heading Tag</h1>