<!-- <h1 *ngIf="show">helo aksh khot !
</h1>

<h2>{{title}}</h2>

<h1>property biding</h1>

<input type="text" disabled="{{disable}}" >
<br><br>
<input type="text" [value]="disable">

 -->

 <h1 *ngIf="show;then ifBlock else elseBlock"></h1>

 <ng-template #ifBlock>
    <h2>hello akash</h2>
 </ng-template>
 <ng-template #elseBlock>
    <h2>hello akash ramnath khot</h2>
 </ng-template>


 <!-- how to create a multiple naming block  -->

 <h1 *ngIf="show=='as';then ifBlock else elseBlock"></h1>

 <ng-template #ifBlock>
    <h2>hello akash</h2>
 </ng-template>
 <ng-template #elseBlock>
    <h2>hello akash ramnath khot</h2>
 </ng-template>
 



 <!-- multiple conditions applying on if statements  -->

 <ng-template [ngIf]='color==="red"'>
    <h1 style="color: red;">Red Color</h1>
</ng-template>

<ng-template [ngIf]='color==="green"'>
    <h1 style="color: green;">Green Color</h1>
</ng-template>

<ng-template [ngIf]='color==="yellow"'>
    <h1 style="color: yellow;">Yellow Color</h1>
</ng-template>
 