<!-- <h1>Counter mode</h1>

<button (click)="counter('sub')" #sub>--</button>
<p>{{count}}</p>
<button (click)="counter('add')" #add>++</button> -->
<h1 style="text-align: center;">COUNTER</h1>
<div class="container">
    
    <div class="card" (click)="counter('sub')">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <h1>--</h1>
                </div>
            </div>
        </div>
        
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <h1>{{count}}</h1>
                </div>
            </div>
        </div>
        
    </div>
    <div class="card">
        <div (click)="counter('add')" class="face face1">
            <div class="content">
                <div class="icon">
                    <h1>++</h1>
                </div>
            </div>
        </div>
        
</div>