<!-- <h1>Counter mode</h1>

<button (click)="counter('sub')" #sub>--</button>
<p>{{count}}</p>
<button (click)="counter('add')" #add>++</button> -->


<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <h1>--</h1>
                </div>
            </div>
        </div>
        
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    {{count}}
                </div>
            </div>
        </div>
        
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <h1>++</h1>
                </div>
            </div>
        </div>
        
</div>