<p>switch-case works!</p>

<div [ngSwitch]='color'>
<h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
<h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
<h1 *ngSwitchCase="'orange'" style="color: orange;">Orange Color</h1>
<h1 *ngSwitchCase="'purple'" style="color: purple;">Purple Color</h1>
<h1 *ngSwitchDefault>{{color}} this is not available</h1>
</div>


<div>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad libero quas porro dolorem! Ipsam nemo totam commodi deserunt saepe! Ipsa minima nisi expedita quas amet dolore labore voluptates sit adipisci.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae qui libero inventore eligendi doloribus dolorem corporis iusto, quae temporibus voluptatem!
</h2>
</div>