<p>conditions works!</p>
<!-- simple if else statement by using ngTemplates -->
<!-- <h1 *ngIf="show=='yes' ; then ifBlock else ElseBlock"></h1>

<ng-template #ifBlock>
    <h1>Akash khot</h1>
</ng-template>
<ng-template #ElseBlock>
    <h1>sam makual</h1>
</ng-template> -->


<!-- adding proper binding statements -->
<!-- <ng-template [ngIf]="color==='green'" >
    <h1 style="color: green;">This is green color</h1>
</ng-template>
<ng-template [ngIf]="color==='red'" >
    <h1 style="color: red;">This is red color</h1>
</ng-template>
<ng-template [ngIf]="color==='orange'" >
    <h1 style="color: orange;">This is orange color</h1>
</ng-template>
<ng-template>
    <h1 style="color: black;">This is Black color</h1>
</ng-template> -->


<!-- switch case methode -->

<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">Red color</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;">Green color</h1>
    <h1 *ngSwitchCase="'orange'" style="color: orange;">Orange color</h1>
    <h1 *ngSwitchCase="'purple'" style="color: purple;">Purple color</h1>
</div>






